{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block after_field_sets %}
{% if not add %}
<fieldset class="module aligned">
	<div class="form-row">
		<label class="required" for="tag">Titles:</label>
		<table>
			<thead>
				<tr>
					<th>Title</th>
					<th>From Date</th>
					<th>To Date</th>
				</tr>
			</thead>
			<tbody id="table_titles"></tbody>
		</table>
	</div>
	<div class="form-row">
		<label class="required" for="tag">Salaries:</label>
		<table>
			<thead>
				<tr>
					<th>Salary</th>
					<th>From Date</th>
					<th>To Date</th>
				</tr>
			</thead>
			<tbody id="table_salaries"></tbody>
		</table>
	</div>
</fieldset>
<script>

const BASE_BACKEND_URL = 'http://localhost:8000';

const convertDatetimeToString = (input)=>(new Date(input)).toLocaleDateString('US');
const numberWithCommas = (x) => x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");

function fetchTitles(){
	fetch(`${BASE_BACKEND_URL}/api/employees/gettitles/?emp_no={{original.emp_no}}`, {
		method: "GET",
		headers: {
			"Content-Type": "application/json",
		},
	})
	.then(response => {
		if(response.status === 200) return response.json();
		else return response.text();
	})
	.then((data) => {
		const employee_titles = data.titles ?? [];
		const table = document.getElementById('table_titles');
		table.innerHTML = '';
		employee_titles.forEach(employee_title => {
			table.innerHTML += `<tr>\
				<td>${employee_title.title}</td>\
				<td>${convertDatetimeToString(employee_title.from_date)}</td>\
				<td>${convertDatetimeToString(employee_title.to_date)}</td>\
				</tr>`
		});
	})
	.catch((error) => {
		console.log(error);
	});
}

function fetchSalaries(){
	fetch(`${BASE_BACKEND_URL}/api/employees/getsalaries/?emp_no={{original.emp_no}}`, {
		method: "GET",
		headers: {
			"Content-Type": "application/json",
		},
	})
	.then(response => {
		if(response.status === 200) return response.json();
		else return response.text();
	})
	.then((data) => {
		const employee_salaries = data.salaries ?? [];
		const table = document.getElementById('table_salaries');
		table.innerHTML = '';
		employee_salaries.forEach(employee_title => {
			table.innerHTML += `<tr>\
				<td>${numberWithCommas(employee_title.salary)}</td>\
				<td>${convertDatetimeToString(employee_title.from_date)}</td>\
				<td>${convertDatetimeToString(employee_title.to_date)}</td>\
				</tr>`
		});
	})
	.catch((error) => {
		console.log(error);
	});
}


fetchTitles();
fetchSalaries();

</script>
{% endif %}
{% endblock %}