<!DOCTYPE html>
<html lang="en" data-theme="corporate">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Maverick - HR Portal</title>

	<link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.17/dist/full.min.css" rel="stylesheet" type="text/css" />
	<script src="https://cdn.tailwindcss.com"></script>

	<script>
		function numberWithCommas(x){ return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");}
	</script>

</head>
<body>

	<div class="navbar bg-base-100 shadow-md" style="position: sticky; top: 0; z-index: 1;">
		<div class="md:container md:mx-auto px-0">
			<div class="flex-1 lg:flex-none">
				<a class="btn btn-ghost text-xl px-0" href="/">Maverick HR Portal</a>
				<div class="dropdown">
					<div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
						<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
					</div>
					<ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
						<li><a href="/">Employees</a></li>
						<li><a href="/departments/" class="active">Departments</a></li>
					</ul>
				</div>
			</div>
			<div class="flex-1 hidden lg:flex ml-3">
				<ul class="menu menu-horizontal px-1">
					<li><a href="/">Employees</a></li>
					<li><a href="/departments/" class="active">Departments</a></li>
				</ul>
			</div>
			<div class="flex-none">
				<ul class="menu menu-horizontal px-1">
					<li>
						<details>
							<summary>
								{{request.user.first_name}}
							</summary>
							<ul class="p-2 bg-base-100 rounded-t-none">
								<li class="menu-title">{{request.user.username}}</li>
								<li><a href="/logout">Logout</a></li>
							</ul>
						</details>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="md:container md:mx-auto py-6 grid gap-5">
		<div class="card card-compact bg-base-100 shadow-xl">
			<div class="card-body">

				<div class="flex items-center mb-3 gap-5">
					<div class="grow card-title">
						Departments
					</div>
					<div id="departments_count"></div>
				</div>

				<table class="table table-sm">
					<thead>
						<tr>
							<th scope="col">Department #</th>
							<th scope="col">Name</th>
							<th scope="col">Employees</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						{% for department in departments %}
						<tr>
							<th scope="row">{{department.dept_no}}</th>
							<td>{{department.dept_name}}</td>
							<td id="{{department.dept_no}}_employees_count"><script>document.getElementById("{{department.dept_no}}_employees_count").innerHTML = `${numberWithCommas("{{department.employees_count}}")}`;</script></td>
							<td><a class="link link-primary" href="/department/{{department.dept_no}}">View</a></td>
						</tr>
						{% endfor %}
						{% if departments_count == 0 %}
						<tr>
							<td colspan="8" class="text-center">No employee found</td>
						</tr>
						{% endif %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
<script>

	const departments_count = parseInt("{{departments_count}}");
	document.getElementById('departments_count').innerHTML = `${numberWithCommas(departments_count)} departments`;

</script>
</html>