<!DOCTYPE html>
<html lang="en" data-theme="corporate">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Maverick - Employee | {{employee.first_name}} {{employee.last_name}}</title>

	<link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.17/dist/full.min.css" rel="stylesheet" type="text/css" />
	<script src="https://cdn.tailwindcss.com"></script>
	
	<script>
		function numberWithCommas(x){ return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");}
	</script>

</head>
<body>

	<div class="navbar bg-base-100 shadow-md" style="position: sticky; top: 0; z-index: 1;">
		<div class="md:container md:mx-auto px-0">
			<div class="flex-1 lg:flex-none">
				<a class="btn btn-ghost text-xl px-0" href="/">Maverick HR Portal</a>
				<div class="dropdown">
					<div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
						<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
					</div>
					<ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
						<li><a href="/" class="active">Employees</a></li>
						<li><a href="/departments/">Departments</a></li>
					</ul>
				</div>
			</div>
			<div class="flex-1 hidden lg:flex ml-3">
				<ul class="menu menu-horizontal px-1">
					<li><a href="/" class="active">Employees</a></li>
					<li><a href="/departments/">Departments</a></li>
				</ul>
			</div>
			<div class="flex-none">
				<ul class="menu menu-horizontal px-1">
					<li>
						<details>
							<summary>
								{{request.user.first_name}} {{request.user.last_name}}
							</summary>
							<ul class="p-2 bg-base-100 rounded-t-none">
								<li class="menu-title">{{request.user.username}}</li>
								<li><a href="/logout">Logout</a></li>
							</ul>
						</details>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="md:container md:mx-auto py-6 grid gap-5">
		<div class="card card-compact bg-base-100 shadow-xl">
			<div class="card-body grid gap-5">
				<div class="text-sm breadcrumbs">
					<ul>
						<li><a href="/">Employees</a></li> 
						<li>{{employee.first_name}} {{employee.last_name}} # {{employee.emp_no}}</li>
					</ul>
				</div>
			</div>
		</div>
	
		<div class="card card-compact bg-base-100 shadow-xl">
			<div class="card-body">
				<h2 class="card-title">Employee Detail</h2>
				<form class="grid grid-flow-row-dense grid-cols-6 gap-3">
					<div class="col-span-3">
						<div class="label"><span class="label-text">Employee #</span></div>
						<input type="text" class="input input-bordered w-full" placeholder="Employee Number" value="{{employee.emp_no}}" />
					</div>
					<div class="col-span-3">
						<div class="label"><span class="label-text">Hire Date</span></div>
						<input type="date" class="input input-bordered w-full" value="{{employee.hire_date_iso}}" />
					</div>
					<div class="col-span-2">
						<div class="label"><span class="label-text">First Name</span></div>
						<input type="text" class="input input-bordered w-full" placeholder="First Name" value="{{employee.first_name}}" />
					</div>
					<div class="col-span-2">
						<div class="label"><span class="label-text">Last Name</span></div>
						<input type="text" class="input input-bordered w-full" placeholder="Last Name" value="{{employee.last_name}}" />
					</div>
					<div class="col-span-2">
						<div class="label"><span class="label-text">Date of Birth</span></div>
						<input type="date" class="input input-bordered w-full" value="{{employee.birth_date_iso}}" />
					</div>
					<div class="col-span-6">
						<button class="btn">Save Change</button>
					</div>
				</form>
			</div>
		</div>

		<div class="card card-compact bg-base-100 shadow-xl">
			<div class="card-body">
				<h2 class="card-title">Department</h2>
				<div class="overflow-x-auto">
					<table class="table">
						<thead>
							<tr>
								<th>Title</th>
								<th>Start</th>
								<th>End</th>
							</tr>
						</thead>
						<tbody>
							{% for department in departments %}
							<tr>
								<td>{{department.department.dept_name}}</td>
								<td>{{department.from_date}}</td>
								<td>{{department.to_date}}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="card card-compact bg-base-100 shadow-xl">
			<div class="card-body">
				<h2 class="card-title">Job Title</h2>
				<div class="overflow-x-auto">
					<table class="table">
						<thead>
							<tr>
								<th>Title</th>
								<th>Start</th>
								<th>End</th>
							</tr>
						</thead>
						<tbody>
							{% for title in titles %}
							<tr>
								<td>{{title.title}}</td>
								<td>{{title.from_date}}</td>
								<td>{{title.to_date}}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="card card-compact bg-base-100 shadow-xl">
			<div class="card-body">
				<h2 class="card-title">Salary</h2>
				<div class="overflow-x-auto">
					<table class="table">
						<thead>
							<tr>
								<th>Salary</th>
								<th>Start</th>
								<th>End</th>
							</tr>
						</thead>
						<tbody>
							{% for salary in salaries %}
							<tr>
								<td id="salary-{{salary.salary}}"><script>document.getElementById("salary-{{salary.salary}}").innerHTML = `$ ${numberWithCommas("{{salary.salary}}")}`</script></td>
								<td>{{salary.from_date}}</td>
								<td>{{salary.to_date}}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>


	</div>
</body>
</html>