[Unit]
Description=CMPE272_Maverick
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=bash /home/ubuntu/CMPE272_Maverick/run.sh

[Install]
WantedBy=multi-user.target